*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-image: url('/wallpapersden.com_k-beautiful-landscape-digital-art_3840x2160.jpg');
    background-size: cover;
    background-position: top center;
    color: white;

}

.app-wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0,0.6));
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 15px 15px;

}

header input {
    width: 100%;
    max-width: 260px;
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 16px 0px 16px 0px;
    border-bottom: 3px solid orange;
/* #DF8E00 */
    /* color: white; */
    color: #313131;
    font-size: 20px;
    font-weight: 300;
    transition: 0.2s ease-out;
}

header input:focus {
    background-color: rgba(255, 255, 255, 0.6);

}
